html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.bg-image{
  background-image: url("../images/bg-index.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-imageb{
  background-image: url("../images/burgers/bg-burgers.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-burgers{
  background-image: url("../images/burgers/burgers-board.png");
  background-repeat: no-repeat;
  background-size: cover;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
  }
}
